
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200..800&display=swap');

@import "tailwindcss";

@theme {
  --font-sans: "Outfit", sans-serif;
  --font-display: "Gemunu Libre", sans-serif;

  --color-primary: #059669;
  --color-primary-dark: #047857;
}